<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/public/styles/templates.css">
</head>
<body>
    <header>
        <div id="logo">
            <table>
                <tr>
                    <td>
                <div class="image">
                <a href="/index"><img src="/images/A1_Logo.jpg" alt="logo"></a>
            </div>
                    </td>
                    <td>
                        <h1>Khalil's Pet Adoption Service</h1>
                    </td>  
                </tr>
            </table>
        </div>
        <div id="date">
        </div>
    </header>
    <script src="/scripts/script.js"></script>
</body>
</html>
