html {
    background-color: #f9f9f9;
    margin: 2%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Lexend', sans-serif;
}

.container {
    align-items: center;
    display: grid;
    margin: 10px;
    grid-template-rows: 1fr 5fr;
}

.content h1 {
    margin: 0;
    color: #3b5152;
}

.content p {
    font-size: 1.2em;
}

button {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20px;
    background-color: #d1e0e0;
    border: 2px solid #333;
    border-radius: 0;
    font-family: 'Lexend', sans-serif;
    align-items: center;
}
